{% extends "base.html" %}
{% load static %}


{% block custom_css %}
<link href="{% static 'vainlab/sprite/hero-64.css' %}" rel="stylesheet">
<link href="{% static 'vainlab/style.css' %}" rel="stylesheet">
{% endblock %}


{% block content %}

<div class="">

  <!-- Header -->
  <div class="header">
    <a href="{% url 'index' %}">
      <img src="{% static 'vainlab/vainlab-logo_pink.svg' %}" class="h-36">
    </a>
    <div class="search-form">
      {% include "vainlab/search-ign.html" %}
    </div>
  </div>

  <div class="flex-column flex-center" id="rankings">
    {% for _, r in rankings %}
    <div class="flex-row card flex-align-center w-min-300 flex-justify-around">
      <i class="sprite-hero-64-{{ r.actor }}_Portrait circle"></i>
      勝率 {{ r.win_rate }}%
    </div>
    {% endfor %}
  </div>


  <div class="footer">
    {% include "vainlab/footer.html" %}
  </div>

</div>

{% endblock %}
